<div>
<p class="fs-3 border-5 border-start border-grey p-3"><%= @question %> <br> <em>-You</em></p>

</div>

<div class="bg-warning bg-opacity-25">
<p class="fs-3 border-5 border-start border-grey p-3"><%= @answer %> <br><em>-Your coach</em></p>
</div>
<%= link_to "New question", ask_path %>
